h1 {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;font-size:60px; 
}
h3 {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;font-size: 30px;
  
}
h2{
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;font-size:50px;
  
}
h4 {height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;font-size:35px;}
p {
	font-size: 28px;
}
ul {  font-size: 30px; }
