h1 {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h3 {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  
}
h2{
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
  
}
p {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;font-size: 28px;
}
ul { font-size: 30px; }
